* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.head_container {
    padding: 15px;
    /* border: 2px solid white; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_home {
    margin-left: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    border-style: none;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    background-color: #1f1f1f;
    margin-right: 10px;
}

.search{
    display: flex;
    font-size: 10px;
    background-color: #1f1f1f;
    border-radius: 50px;
    padding: 5px;
    padding-left: 15px;
    border: none;
    min-width: 35vw;
}

.search input{
    font-size: 17px;
    color: white;
    margin-left: 15px;
    width: 25vw;
    background-color: #1f1f1f;
    outline: none;
    border-bottom: none ;
}

.log_sig{
    display: flex;
    gap: 15px;
}

.log_sig button{
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    padding: 15px;
    width: 8vw;
}

.Sign{
    background-color: black;
    border: none;
    color: gray;
    &:hover{
        color: white;
        font-size: 19px;
    }
}